link-workspace-packages=deep
auto-install-peers=false

### NOTE: This causes `playwright install chromium` to fail on postinstall command
# # Windows Build Support for Desktop Builds + Tests
# # https://github.com/electron-userland/electron-builder/issues/6289
# node-linker=hoisted
# public-hoist-pattern = *