
ul {
    list-style-type: none;
    margin: 0;
    padding: 25px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid #ccc;
}

li:last-child {
    border-bottom: none;
}

li > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

